.offices-slider.swiper {
  padding: 0 0 4px 0 !important;
}

.swiper-slide {
  transition: opacity 300ms ease-out;
}

.thumb-slider .swiper-slide {
  opacity: 0.5;
}

.thumb-slider .swiper-slide-thumb-active {
  opacity: 1;
}
